.DS_Store
Gemfile.lock
coverage
*.bundle
*.idea
*.html
*.zip
# *.png
screenshot.png
test_report.json
rerunreport.json
reports*
DONOTINCLUDE.RB
test.rb
features/step_definitions/test.rb
features/cucumber_features/test.feature
rerun.txt
console_logs_*.js
