.DS_Store
Gemfile.lock
coverage
*.bundle
*.idea
*.html
*.zip
*.png
screenshot.png
testreport.json
test_report.ndjson
rerunreport.json
retestreport.json
retest_report.ndjson
reports/*
DONOTINCLUDE.RB
test.rb
features/step_definitions/test.rb
features/cucumber_features/test.feature
rerun.txt
console_logs_*.js
