.DS_Store
Gemfile.lock
coverage
*.bundle
*.idea
*.html
*.png
*.zip
cucumber_web_report.html
screenshot.png
testreport.json
testreport.html
rerunreport.json
reports*
DONOTINCLUDE.RB
test.rb
features/step_definitions/test.rb
features/cucumber_features/test.feature
rerun.txt
console_logs_*.js
